

.marketing {
    h4 {
        color: $brand-warning;
    }
    p {
        color: $brand-primary;
    }
}

.container .jumbotron {
    @include border-top-radius(0px);
    @include border-bottom-radius(50px);
}

body {
    color: green;
}
